<div *ngIf="isFetching" class="progress-bar-container">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #appDrawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && stateSidenav"
      (opened)="setSidenav('open!')"
      (closed)="setSidenav('close!')">
    <mat-toolbar fxLayout="row" fxLayoutAlign="center center">
      <div>
        <span>MPA Hub Console</span>
      </div>
      <span fxFlex></span>
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="toggleSidenav(appDrawer)">
          <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
        </button>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="isSidenavNavigationLoading">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-spinner diameter="36"></mat-spinner>
        </div>
      </ng-container>
      <ng-container *ngIf="!isSidenavNavigationLoading">
        <mpa-hub-main-navigation-list *ngFor="let item of navList" [item]="item"></mpa-hub-main-navigation-list>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" class="mainSidenavContent">
    <mat-toolbar class="sidenavToolbar mat-sticky">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="toggleSidenav(appDrawer)"
          *ngIf="!appDrawer.opened">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ dataTitle }}</span>
        <span fxFlex></span>
        <a class="navLink avatar" [matMenuTriggerFor]="menu" style="max-width: 354px">
          <img src="/assets/images/default_avatar.png" title="Avatar" alt="Avatar">
        </a>
        <mat-menu #menu="matMenu" class="avatarPanel" style="max-width: 354px">
          <div class="avatarCardContainer">
            <div class="areaTop">
              <div class="pictureContainer">
                <img class="pictureAvatar" src="/assets/images/default_avatar.png" title="Profile" alt="" aria-hidden="true">
              </div>

              <div class="metaContainer">
                <div class="username">{{ userUsername }}</div>
                <a class="buttonAction" [routerLink]="'/who/setting/account'">Setting account</a>
              </div>
            </div>

            <div class="actionContainer">
              <span class="buttonAction">View site</span>
              <span class="buttonAction">Sign out</span>
            </div>

            <div class="infomationContainer">
              <span class="information">{{ aboutConsole }}</span>
            </div>
          </div>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <main class="fullHeight mainComponent">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
